<div class="row m-5">

<!-- 戻るボタン -->
  <div class="col-3">
    <div class="row ml-2">
      <%= link_to 'javascript:history.back()', style:"font-size: 30px; color: #545454;" do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>

<!-- 投稿一覧 -->
    <div class="mt-5">
      <h3 class="ml-5 mb-4">＜ 投稿一覧 ＞</h3>
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td style="font-size: 14px;"><%= post.title %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
    </div>

  </div>
  <div class="col">
<!-- 投稿内容 -->
  <!-- 投稿写真 -->
    <div class="row">
      <div class="col pl-3">
        <% if @post.image.attached? %>
          <%= image_tag @post.image.variant(resize_to_fit: [680, nil]).processed, alt: "Post Image" %>
        <% else %>
          <%= image_tag 'no_image.jpg', class: "card-img-top", size: "300x300", alt: "No Image" %>
        <% end %>
      </div>

      <!-- ログインユーザー操作ボタン -->
      <div class="col">
        <div class="row ml-3">
          <% if @post.user == current_user %>
            <%= link_to "編集する", edit_post_path(@post), class: "btn btn-outline-info"  %>
            <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "btn btn-outline-info" %>
          <% end %>
        </div>

        <!-- 投稿ユーザー情報 -->
        <%= link_to user_path(@post.user), style: "text-decoration: none; color: #545454;" do %>
          <div class="col bg-white shadow m-3", style="border-radius: 15px; height: 320px;">
            <div class="col pt-3 d-flex justify-content-center mb-3 mb-lg-0">
              <%= image_tag @post.user.get_profile_image(200, 200), style: "border-radius: 150px; width: 200px;" %>
            </div>
            <div class="text-center w-100 pt-3">
              <h4><%= @post.user.full_name %><br></h4>
              <p><%= @post.user.introduction %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <!-- いいね -->
    <div class="col py-2 mb-2", id="like_btn_<%= @post.id %>" >
      <%= render "public/likes/btn", post: @post %>
    </div>

  <!-- 投稿内容 -->
    <div class="row px-3">
      <div class="col-12">
        <h2 class="pb-4"><b><%= @post.title %></b></h2>
        <h5><%= @post.subtitle %></h5>
        <div class="border-top border-secondary mt-5">
          <p><%= simple_format(@post.body) %></p>
        </div>
      </div>

    </div>

</div>
</div>