<div class="container">
  <div class="row px-3">
    <!-- 戻るボタン -->
    <div class="col-12 order-0 order-lg-0 my-4">
      <%= link_to 'javascript:history.back()', style:"font-size: 30px; color: #545454;" do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>

    <!-- タイトル・サブタイトル -->
    <div class="order-1 px-3">
      <h2 class="pb-4 post-title"><b><%= @post.title %></b></h2>
      <h5 class="post-subtitle"><%= @post.subtitle %></h5>
    </div>

    <!-- 投稿ユーザー情報 -->
      <div class="d-none d-md-block col-8 order-3">
        <div class="col py-3 d-flex">
          <%= image_tag @post.user.get_profile_image(200, 200), style: "width: 100px; height: 100px; border-radius: 50%;" %>
          <h4 class="pt-5 m-3"><%= @post.user.full_name %></h4>
        </div>
      </div>
      <div class="d-md-none col-7 order-3 align-text-end">
        <div class="col py-3 d-flex">
          <%= image_tag @post.user.get_profile_image(200, 200), style: "width: 60px; height: 60px; border-radius: 50%;" %>
          <h4 class="pt-4 m-2" style="font-size: 13px;"><%= @post.user.full_name %></h4>
        </div>
      </div>

        <!-- ログインユーザー操作ボタン -->
        <div class="col-4 mt-3 order-3">
          <% if @post.user == current_user %>
                <%= link_to "編集する", edit_post_path(@post), class: "btn btn-outline-info mr-1 btn-sm"  %>
                <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "btn btn-outline-danger btn-sm" %>
          <% end %>
        </div>

      <!-- 投稿写真 -->
      <div class="col-12 order-4">
        <% if @post.image.attached? %>
          <%= image_tag @post.image.variant(resize_to_fit: [400, nil]).processed, alt: "Post Image", style: "width: 100%;" %><br>
        <% else %>
          <%= image_tag 'no_image.jpg', class: "w-100", alt: "No Image" %>
        <% end %>
      </div>

    <!-- 投稿本文 -->
    <div class="col-12 order-5">
      <div class="border-top border-bottom border-secondary mt-4">
        <h5 class="post-body mt-2"><%= simple_format(@post.body) %></h5>
      </div>
    </div>

    <!-- いいね -->
    <% if user_signed_in? %>
      <div class="col-12 order-6 order-lg-6 my-3" id="like_btn_<%= @post.id %>">
        <%= render "public/likes/btn", post: @post %>
      </div>
    <% end %>

    <!-- 投稿一覧 -->
    <div class="col-12 order-7 order-lg-6 mt-3">
        <h3 class="text-center">＜ 投稿一覧 ＞</h3>
        <% @posts.each do |post| %>
          <%= link_to post_path(post) do %>
            <p style="font-size: 13px; color: black;" class="border-bottom"><%= post.title %></p>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
