<div class="row m-5">
  <div class="col-3 mx-3 bg-white shadow", style="border-radius: 15px;">
    <div class="row my-4">
      <div class="col-lg-4 mb-3 mb-lg-0">
        <%= image_tag @post.user.get_profile_image(100, 100), style: "border-radius: 90px; width: 90px;" %>
      </div>
      <div class="col-lg-8 pt-3">
        <%= @post.user.last_name %><%= @post.user.first_name %><br>
        <%= @post.user.introduction %>
      </div>
    </div>
    <div class="row">
      <div class="col">フォローボタン</div>
      <div class="col">DMマーク</div>
    </div>
  </div>
  <div class="col mx-3">
    <%= image_tag @post.image.variant(resize_to_fit: [400, nil]).processed, alt: "Post Image" %>
  </div>
  <div class="col">
    <h2 class="pb-4"><%= @post.title %></h2>
    <h5><%= @post.subtitle %></h5>
  </div>
</div>
<div class="row px-5">
  <div class="col-2"></div>
  <div class="col-8">
    <p><%= simple_format(@post.body) %></p>
  </div>
  <div class="col-2"></div>
</div>
