<div class="container px-5">
  <div class="text-center py-5">
    <h3><%= @community.name %>コミュニティメンバー</h3>
  </div>

  <div class="row px-5 mx-5">
    <div class="col-2"></div>
    <div class="col">
      <!-- メンバーリストテーブル -->
      <table class="table table-hover">
        <% @community.users.each do |member| %>
          <tr>
            <!-- プロフィール画像 -->
            <td class="col-1 py-1">
              <%= image_tag member.get_profile_image(60, 60), style: "border-radius: 100px; width: 50px;" %>
            </td>
            <!-- 名前とふりがな -->
            <td class="col-7 py-1 pl-4">
              <%= member.last_name %> <%= member.first_name %><br>
              <p style="font-size: 12px; color: #797979;"><%= member.last_name_kana %> <%= member.first_name_kana %></p>
            </td>
            <!-- 管理者操作ボタン -->
            <% if @community.owner_id == current_user.id %>
              <td class="col-4">
                <%= link_to "退出させる", community_group_users_path(@community, user_id: member.id), method: :delete, data: { confirm: '本当にこのユーザーを退出させますか？' }, class: 'btn btn-danger btn-sm' %>
              </td>
            <% else %>
              <td class="col-5"></td> <!-- 他のメンバーには空のセルを表示 -->
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
</div>
