<div class="position-fixed top-0 end-0 p-3 ml-5" style="z-index: 1;">
  <%= image_tag 'muscle.png', size: "600x600", class: "img-fluid" %>
</div>

<div class="row m-5">
  <div class="col"></div>
  <div class="col my-4">
    <h1 style="color: #545454; font-weight: bold; line-height: 1.4; font-size: 48px;">
      運動を通じて新たな自分と<br>
      出会える、コミュニティサイト
    </h1>
  </div>
</div>

<div class="row pl-5 mx-5 pb-4">
  <h4 style="color: #545454; font-weight: bold;">
    <span style="color: black;">最新</span>の情報をチェック</h4>
</div>
<div id="postCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @posts.each_slice(5).with_index do |posts_slice, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <div class="row">
          <% posts_slice.each do |post| %>
            <div class="col">
              <div class="mt-5 mr-5 shadow p-3 mb-5 bg-white" style="width: 290px; height: 370px; border-radius: 35px;">
                <!-- 投稿を表示 -->
                <div class="row px-3" style="height: 20%;">
                  <h5 class="w-100" style="font-size: 17px;"><b><%= post.title %></b></h5>
                </div>
                <div class="row px-3" style="height: 35%;">
                  <h5 class="w-100" style="font-size: 14px;"><%= post.subtitle %></h5>
                </div>
                <div class="row px-3" style="height: 20%;">
                  いいね等
                </div>
                <div class="row px-1" style="height: 25%;">
                  <div class="col-7 pt-2">
                    <b style="font-size: 18px;"><%= post.user.last_name %><%= post.user.first_name %></b>
                    <p class="text-success pt-2", style="font-size: 12px;"><%= post.user.introduction %></p>
                  </div>
                  <div class="col-5">
                    <%= image_tag post.user.get_profile_image(90, 90), style: "border-radius: 90px; width: 90px;" %>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- 左右のナビゲーションボタン -->
  <%= link_to "#postCarousel", class: "carousel-control-prev", data: { slide: "prev" } do %>
    <div class="fa-3x" aria-hidden="true" style="color: black;"><i class="fa-solid fa-circle-chevron-left"></i></div>
  <% end %>

  <%= link_to "#postCarousel", class: "carousel-control-next", data: { slide: "next" } do %>
    <div class="fa-3x" aria-hidden="true" style="color: black;"><i class="fa-solid fa-circle-chevron-right"></i></div>
  <% end %>
</div>

