<div class="container" style="background-color: #EFEFEF;">
  <div class="row justify-content-center">
    <% if @query.present? %>
      <div class="col-12 col-md-10">
        <div class="py-3">
          <h5 class="text-center py-4 display-4 d-none d-md-block" style="color: #545454;">「<%= @query %>」の検索結果</h5>
          <h5 class="text-center py-4 d-block d-md-none" style="color: #545454;">「<%= @query %>」の検索結果</h5>
        </div>

        <ul class="nav nav-tabs justify-content-center" id="searchResultTabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true" style="font-weight: bold; color: #545454;">投稿</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false" style="font-weight: bold; color: #545454;">ユーザー</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="communities-tab" data-toggle="tab" href="#communities" role="tab" aria-controls="communities" aria-selected="false" style="font-weight: bold; color: #545454;">コミュニティ</a>
          </li>
        </ul>

<!-- 投稿 -->
        <div class="tab-content p-4">
          <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
            <% if @results[:posts].any? %>
              <div class="table-responsive">
                <table class="table border-bottom">
                  <% @results[:posts].each do |post| %>
                    <tr>
                      <td class="align-middle" style="width: 60px;">
                        <%= image_tag post.user.get_profile_image(55,55), width: 50, height: 50, style: "border-radius: 50px;" %>
                      </td>
                      <td class="align-middle">
                      <h5 class="d-none d-md-block"><%= link_to post.title, post_path(post) %></h5>
                      <p class="d-none d-md-block mb-0" style="font-size: 11px;"><%= truncate(post.subtitle, length: 50, omission: '...') %></p>
                      <p class="d-md-none" style="font-size: 11px;"><%= link_to post.title, post_path(post) %></p>
                      <p class="d-md-none mb-0" style="font-size: 9px;"><%= truncate(post.subtitle, length: 40, omission: '...') %></p>
                    </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            <% else %>
              <p class="text-center">投稿が見つかりませんでした。</p>
            <% end %>

            <div class="d-flex justify-content-center pt-3">
              <h5><%= paginate @results[:posts] %></h5>
            </div>

          </div>

          <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
            <% if @results[:users].any? %>
              <div class="table-responsive">
                <table class="table table-bottom">
                  <% @results[:users].each do |user| %>
                    <tr>
                      <td class="align-middle" style="width: 60px;">
                        <%= image_tag user.get_profile_image(100,100), width: 55, height: 55, style: "border-radius: 50px;" %>
                      </td>
                      <td class="align-middle">
                        <h5 class="d-none d-md-block"><%= link_to user.full_name, user_path(user) %></h5>
                        <p class="d-none d-md-block mb-0" style="font-size: 11px;"><%= user.introduction %></p>
                        <p class="d-md-none" style="font-size: 11px;"><%= link_to user.full_name, user_path(user) %></p>
                        <p class="d-md-none mb-0" style="font-size: 9px;"><%= user.introduction %></p>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            <% else %>
              <p class="text-center">ユーザーが見つかりませんでした。</p>
            <% end %>

            <div class="d-flex justify-content-center pt-3">
              <h5><%= paginate @results[:users] %></h5>
            </div>

          </div>

          <div class="tab-pane fade" id="communities" role="tabpanel" aria-labelledby="communities-tab">
            <% if @results[:communities].any? %>
              <div class="table-responsive">
                <table class="table border-bottom">
                  <% @results[:communities].each do |community| %>
                    <tr>
                      <td class="col-2 align-middle border-right">
                        <p class="d-none d-md-block"><%= link_to community.name, community_path(community) %></p>
                        <p class="d-md-none" style="font-size: 9px;"><%= link_to community.name, community_path(community) %></p>
                      </td>
                      <td class="col-10 align-middle">
                        <p class="d-none d-md-block mb-0" style="font-size: 13px;"><%= truncate(community.introduction, length: 100, omission: '...') %></p>
                        <p class="d-md-none mb-0" style="font-size: 9px;"><%= truncate(community.introduction, length: 40, omission: '...') %></p>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            <% else %>
              <p class="text-center">コミュニティが見つかりませんでした。</p>
            <% end %>

            <div class="d-flex justify-content-center pt-3">
              <h5><%= paginate @results[:communities] %></h5>
            </div>

          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
