<div class="container" style="background-color: #EFEFEF;">
  <!-- ページのタイトル -->
  <h1>ユーザー編集</h1>

  <!-- ユーザー情報編集フォーム -->
  <%= form_with model: [:admin, @user] do |f| %>
    <!-- プロフィール画像 -->
    <div class="row justify-content-center mt-4">
      <div class="col-md-2">
        <!-- プロフィール画像のプレビュー -->
        <div id="image_preview"></div>
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.get_profile_image(170,170), width: 170, height: 170, style: "border-radius: 10px;", id: "current_profile_image" %>
        <% else %>
          <%= image_tag 'no_image.jpg', width: 170, height: 170, style: "border-radius: 10px;", id: "current_profile_image" %>
        <% end %>
      </div>
      <div class="col-md-2 pt-5 mt-3">
        <!-- プロフィール画像のアップロード -->
        <%= f.file_field :profile_image, id: "profile_image_input", placeholder: "プロフィール画像", accept: "image/*" %>
      </div>
    </div>

    <!-- ユーザー情報の編集 -->
    <div style="width: 70%;">
      <table class="w-100 mx-5">
        <tbody>
          <tr>
            <td class="col-3"><%= f.label :introduction %></td>
            <td><%= f.text_field :introduction, class: "form-control" %></td>
          </tr>

          <tr>
            <td class="col-3"><%= f.label :email %></td>
            <td><%= f.text_field :email, class: "form-control" %></td>
          </tr>

          <tr>
            <td class="col-3"><%= f.label :last_name %></td>
            <td><%= f.text_field :last_name, class: "form-control" %></td>
          </tr>

          <tr>
            <td class="col-3"><%= f.label :first_name %></td>
            <td><%= f.text_field :first_name, class: "form-control" %></td>
          </tr>

        </tbody>
      </table>
      <!-- 更新ボタン -->
      <div class="text-center mt-4"><%= f.submit 'Update User', class: "btn btn-primary" %></div>
    </div>
  <% end %>
</div>
