<div class="container pl-1" style="background-color: #EFEFEF;">

  <!-- ユーザー情報 -->
  <div class="row mr-5 py-5 px-5 border-bottom border-secondary">
    <div class="col-2"></div>
    <div class="col">
      <%= image_tag @user.get_profile_image(250,250), width: 200, height: 200, style: "border-radius: 10px; border: 8px solid white;" %>
    </div>
    <div class="col py-3 text-center">
      <h1><%= @user.full_name %></h1>
      <h5 class="py-3 text-success" style="font-size: 17px;"><%= @user.introduction %></h5>
      <% if @user == current_user %>
        <%= link_to "プロフィールを編集", edit_user_path, class: "btn btn-secondary btn-sm" %>
      <% end %>
    </div>
    <div class="col-2"></div>
  </div>

  <!-- ユーザー投稿・記事一覧 -->
  <div class="row mt-5">

    <!-- ユーザー投稿一覧 -->
    <div class="col">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col mb-3">
            <div class="shadow p-3 bg-white" style="width: 250px; height: 290px; border-radius: 15px;">
              <% if post.image.attached? %>
                <%= image_tag post.get_image, class: "card-img-top", alt: "Post Image", style: "height: 120px; object-fit: cover;" %>
              <% else %>
                <%= image_tag 'no_image.jpg', class: "card-img-top", alt: "No Image", style: "height: 100px; object-fit: cover;" %>
              <% end %>
              <p class="pt-2" style="font-size: 13px; height: 15%;"><b><%= post.title %></b></p>
              <p style="font-size: 10px; height: 12%;"><%= truncate(post.subtitle, length: 40, omission: '...') %></p>
              <div class="text-center pt-2">
                <%= link_to "続きを読む", post_path(post), class: "btn btn-outline-info btn-sm" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center pt-3">
        <h5><%= paginate @posts %></h5>
      </div>
    </div>

    <!-- ユーザー記事一覧 -->
    <% if @user == current_user %>
      <div class="col px-4">
        <div class="shadow px-3 bg-white" style="width: 400px; height: auto; border-radius: 15px;">
          <% if @topics.present? %>
            <% @topics.order(created_at: :desc).each do |topic| %>
              <div class="border-bottom border-secondary pt-2">
                <b><%= link_to topic.title, community_topic_path(topic.community, topic), style: "color: black;" %></b>
                <p style="font-size: 13px;"><%= truncate(topic.body, length: 30, omission: '...') %></p>
              </div>
            <% end %>
          <% else %>
            <p>まだ記事はありません。</p>
          <% end %>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <h5><%= paginate @topics %></h5>
        </div>
      </div>
    <% end %>

  </div>
</div>

