<div class="container pl-1" style="background-color: #EFEFEF;">

  <!-- ユーザー情報 -->
  <div class="row py-5 px-5 border-bottom border-secondary">

    <!-- PC画面 -->
    <div class="col-3 d-none d-md-block">
      <div><%= image_tag @user.get_profile_image(250, 250), width: 180, height: 180, style: "border-radius: 10px; border: 8px solid white;" %></div>
      <div class="m-3">
        <% if @user == current_user %>
        <div class="d-none d-md-block">
          <%= link_to "プロフィール編集", edit_user_path, class: "btn btn-secondary btn-sm" %>
        </div>
        <div class="d-md-none">
          <%= link_to "プロフィール編集", edit_user_path, class: "btn btn-secondary btn-sm", style: "font-size: 7px;" %>
        </div>
      <% end %>
      </div>
    </div>

    <!-- スマホ画面 -->
    <div class="col d-md-none">
      <%= image_tag @user.get_profile_image(250, 250), width: 100, height: 100, style: "border-radius: 10px; border: 8px solid white;" %>
    </div>

    <div class="col py-3 text-center">
      <div class="row">
        <div class="col">
          <h3 class="user-show-name"><%= @user.full_name %></h3> <!-- ユーザーネーム -->
        </div>
        <!-- フォローボタン -->
        <div class="col">
          <% if current_user != @user %>
            <% if current_user.following?(@user) %>
              <%= button_to 'フォローをやめる', user_relationship_path(@user.id, current_user.active_relationships.find_by(following_id: @user.id).id), method: :delete %>
            <% else %>
              <%= button_to 'フォロー', user_relationships_path(user_id: @user.id, following_id: @user.id), method: :post %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5 class="py-3 text-success user-introduction", style="font-size: 17px;"><%= @user.introduction %></h5> <!-- 自己紹介 -->
        </div>
        <div class="col d-flex align-items-center">
          <div>
            <%= link_to 'フォロワー', followers_user_path(@user), style: "color: black; text-decoration: none; font-size: 13px;" %>
            <%= @user.followers.count %>人
          </div>
          <div class="ml-4">
            <%= link_to 'フォロー中', following_user_path(@user), style: "color: black; text-decoration: none; font-size: 13px;" %>
            <%= @user.following.count %>人
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ユーザー投稿・記事一覧 -->
  <div class="row mt-5">

    <!-- ユーザー投稿一覧 -->
    <div class="col">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col mb-3">
            <div class="shadow p-3 bg-white" style="width: 250px; height: 290px; border-radius: 15px;">
              <% if post.image.attached? %>
                <%= image_tag post.get_image, class: "card-img-top", alt: "Post Image", style: "height: 120px; object-fit: cover;" %>
              <% else %>
                <%= image_tag 'no_image.jpg', class: "card-img-top", alt: "No Image", style: "height: 100px; object-fit: cover;" %>
              <% end %>
              <p class="pt-2" style="font-size: 13px; height: 15%;"><b><%= post.title %></b></p>
              <p style="font-size: 10px; height: 12%;"><%= truncate(post.subtitle, length: 40, omission: '...') %></p>
              <div class="text-center pt-2">
                <%= link_to "続きを読む", post_path(post), class: "btn btn-outline-info btn-sm" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center pt-3">
        <h5><%= paginate @posts %></h5>
      </div>
    </div>

    <!-- ユーザー記事一覧 -->
    <% if @user == current_user %>
      <div class="col">
        <% if @topics.present? %>
          <% @topics.order(created_at: :desc).each do |topic| %>
            <div class="border-bottom border-secondary pt-2">
              <% if topic.community.present? %>
                <b><%= link_to topic.title, community_topic_path(topic.community, topic), style: "color: black;" %></b>
              <% else %>
                <b><%= topic.title %></b>
              <% end %>
              <p style="font-size: 13px;"><%= truncate(topic.body, length: 30, omission: '...') %></p>
            </div>
          <% end %>
        <% else %>
          <p>トピックがありません。</p>
        <% end %>
        <div class="d-flex justify-content-center pt-3">
          <h5><%= paginate @topics %></h5>
        </div>
      </div>
    <% end %>

  </div>
</div>
