<!DOCTYPE html>
<html>
  <head>
    <title>Exercise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0edaaf4d35.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="container-field" style="background-color: #EFEFEF;">

      <div class="row py-3"></div>

      <header class="navbar navbar-expand-md navbar-light bg-white px-5" style="color: #545454; z-index: 1030;">

           <!--アイコンのリンク設定 -->
          <% if admin_signed_in? %>
            <%= image_tag 'exercise.png', size: "55x55", alt: "icon" %>
          <% else %>
            <%= link_to root_path, class: "navbar-brand" do %>
              <%= image_tag 'exercise.png', size: "55x55", alt: "icon" %>
            <% end %>
          <% end %>

           <!-- ナビゲーションバーを折りたたむボタン -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <% if admin_signed_in? %>
                <li class="nav-item pr-4">
                  <%= link_to "トップ", admin_top_path, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item pr-4">
                  <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item pr-4">
                  <%= link_to "投稿一覧", admin_posts_path, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item pr-4">
                  <%= link_to "コミュニティ一覧", admin_communities_path, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>

              <% elsif user_signed_in? %>
                <li class="nav-item pr-4">
                  <%= link_to 'ホーム', posts_path, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item pr-4">
                  <%= link_to 'コミュニティ', communities_path, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item pr-4">
                  <%= link_to 'アバウト', about_path, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item pr-4">
                  <%= link_to 'マイページ', user_path(current_user), class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>

              <% else %>
                <li class="nav-item pr-4">
                  <%= link_to 'ホーム', posts_path, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item pr-4">
                  <%= link_to 'コミュニティ', communities_path, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item pr-5">
                  <%= link_to 'アバウト', about_path, class: "nav-link", style: "color: #545454; font-weight: bold;" %>
                </li>
                <li class="nav-item pr-4">
                  <%= link_to new_user_registration_path, class: "nav-link", style: "color: #545454; font-weight: bold;" do %>
                    <i class="fa-solid fa-user-plus"></i> Sign up
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path, class: "nav-link", style: "color: #545454; font-weight: bold;" do %>
                    <i class="fa-solid fa-right-to-bracket"></i> Log in
                  <% end %>
                </li>
              <% end %>
            </ul>
            <% if admin_signed_in? %>
              <form class="form-inline my-2 my-lg-0 ml-auto" action="<%= admin_search_path %>" method="get"> <!-- 管理者用の検索フォーム -->
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="<%= params[:q] %>">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            <% else %>
              <form class="form-inline my-2 my-lg-0 ml-auto" action="<%= search_path %>" method="get"> <!-- ユーザー用の検索フォーム -->
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="<%= params[:q] %>">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            <% end %>
          </div>
      </header>

      <!-- 管理画面のみのメッセージ -->
      <% if admin_signed_in? %>
        <h1 class="mt-3 text-center">【管理画面ページ】</h1>
      <% end %>
      <%= yield %>

<!-- フッター -->
      <div class="row">
        <div class="col pl-5 ml-5 footer-image">
          <%= image_tag 'fat.png', size: "55x55" %>
        </div>
        <div class="col pr-5 mr-5 d-flex justify-content-end footer-image">
          <%= image_tag 'slim.png', size: "55x55" %>
        </div>
      </div>

      <footer class="border-top border-secondary mt-auto">
        <div class="d-flex justify-content-center py-4">
          <%= link_to root_path, class: "logo" do %>
            <%= image_tag 'exercise.png', size: "75x75", alt: "icon" %>
          <% end %>
        </div>
      </footer>
    </div>
  </body>
</html>
