<!DOCTYPE html>
<html>
  <head>
    <title>Exercise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0edaaf4d35.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="container-field", style="background-color: #EFEFEF;">

    <div class="row py-3"></div>

    <header class="d-flex justify-content-center align-items-center", style="background-color: white; height: 60px; color: #545454;">

    <div class="logo pr-5">
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag 'exercise.png', size: "55x55", alt: "icon" %>
      <% end %>
    </div>

      <ul class="list-unstyled d-flex ml-5">
        <% if user_signed_in? %>
          <li class="mr-5 mt-3">
            <%= link_to 'ホーム', posts_path, style: "color: #545454; font-weight: bold;" %>
          </li>
          <li class="mr-5 mt-3">
            <%= link_to 'コミュニティ', communities_path, style: "color: #545454; font-weight: bold;" %>
          </li>
          <li class="mr-5 mt-3">
            <%= link_to 'アバウト', about_path, style: "color: #545454; font-weight: bold;" %>
          </li>
          <li class="mr-5 mt-3">
            <%= link_to 'マイページ', user_path(current_user), style: "color: #545454; font-weight: bold;" %>
          </li>
          <li class="mr-5 mt-3">
            <%= link_to 'ログアウト',destroy_user_session_path, method: :delete, style: "color: #545454; font-weight: bold;"%>
          </li>

        <% else %>
          <li class="mr-5 mt-3">
            <%= link_to 'ホーム', posts_path, style: "color: #545454; font-weight: bold;" %>
          </li>
          <li class="mr-5 mt-3">
            <%= link_to 'コミュニティ', communities_path, style: "color: #545454; font-weight: bold;" %>
          </li>
          <li class="mr-5 mt-3">
            <%= link_to 'アバウト', about_path, style: "color: #545454; font-weight: bold;" %>
          </li>
          <li class="mx-5 mt-3">
            <%= link_to new_user_registration_path, style: "color: #545454; font-weight: bold;" do %>
              <i class="fa-solid fa-user-plus"></i> Sign up
            <% end %>
          </li>
          <li class="mr-5 mt-3">
            <%= link_to new_user_session_path, style: "color: #545454; font-weight: bold;" do %>
              <i class="fa-solid fa-right-to-bracket"></i> Log in
            <% end %>
          </li>
        <% end %>
      </ul>
    </header>

    <%= yield %>
    </div>
    <footer>

    </footer>
  </body>

</html>
